@media screen and (max-width: 991px) {
    .navbar-toggler {
        box-shadow: none !important;
        border    : none !important;
    }

    .nav-item {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .container-brands img {
        width : 80px !important;
        margin: 0 20px !important;
    }

    .container-brands {
        animation: slide 12s linear infinite !important;
    }
}